.img{
    size: 60%;}
body{
    background-color: rgba(255, 255, 0, 0.723);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}
li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
ul{
    font-family: 'Times New Roman', Times, serif;
}
.div{
    margin-top: 10px;    /* Top spacing */
    margin-right: 15px;  /* Right spacing */
    margin-bottom: 10px; /* Bottom spacing */
    margin-left: 15px;   /* Left spacing */
}
